.outputContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
  align-items: flex-end;
  padding: 12px 40px;
  min-height: 210px;
  overflow: hidden;

  .previousOperand {
    color: #637381;
    font-size: 1.5rem;
    padding-top: 100px;
    text-wrap: nowrap;
  }

  .currentOperand {
    font-size: 2rem;
    padding-top: 10px;
  }
}
